.venv
__pycache__
.vscode/.ropeproject/objectdb
out
outputs
*.model
*.vocab
run/
runs/
*.txt
tokenizer/
docker/pyproject.toml
docker/poetry.lock
wandb/
*.pkl
final-checkpoint/
model/
testy.py
models/
*.egg-info
*.log
