[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
spell = "*"
wandb = "*"
pytest = "*"
pytest-concurrent = "*"
pytest-testdox = "*"
flake8 = "*"
rope = "*"
black = "*"

[packages]
hydra-core = "*"
hydra-colorlog = "*"
torch = ">=1.4.0"
tensorboardX = ">=2.0"
tokenizers = ">=0.2.0"
transformers = ">=2.3.0"
diskarray = ">=0.1.9"

[requires]
python_version = "3.7.6"

[pipenv]
allow_prereleases = true
