[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
spell = "*"
wandb = "*"
pytest = "*"
pytest-concurrent = "*"
pytest-testdox = "*"

[packages]
hydra-core = "*"
hydra-colorlog = "*"
transformers = "==2.3.0"
tokenizers = "==0.1.0"

[requires]
python_version = "3.7.5"

[pipenv]
allow_prereleases = true
